.nav-header {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    // background-color: #e1cdcd;
    background-color: #5c4444;
}
.login {
    display: flex;
    justify-content: flex-end;
}

.header {
    display: flex;
    flex: 1;
    
}
.header-logo-name {
    // background-color: #5c4444;
    display: flex;
    /* justify-content: center; */
    align-items: baseline;
    height: 20px;
}

.header-name {
    display: flex;
    color:  #fff;
    padding-left: 12px;
    align-items: end;
}


.header-logo-name {
    display: flex;
    flex: 2;
}